p 
  strong = @quiz.title

ol
  = simple_form_for "/quizzes/#{@quiz.id}/result", method: :post, html: { "data-id" => "#{@quiz.id}"} do |f|
    - @quiz_question.each do |qq|
      li
        = qq.title
      ul
        = f.simple_fields_for :answered_questions, remote: true do |aq|
          = aq.hidden_field :question_id, value: qq.id
          br
          = aq.hidden_field :user_id, value: current_user.id
          br
          = f.collection_check_boxes :answer_question_ids, qq.answers.order("RANDOM()").all, :id, :title , boolean_style: :inline, item_wrapper_tag: false do |b|
            
          
            = b.label(class: 'btn btn-secondary', style: 'margin-right: 10px; margin-left: 10px;') {b.check_box(data: { remote: true, url: url_for(action: :result ,id: b.object.question_id)}) + b.text }
    br
    = f.button :submit, "Finished", class: 'btn btn-outline-success'
