br

/ p 
/   strong = @quiz.title

/ ol
/   = simple_form_for @quiz, url: quizzes_answer_question_path,remote: true do |f|
/     - @quiz_question.each do |qq|
/       li
/         = qq.title
/       ul
/         /= f.collection_radio_buttons "options_#{qq.id}", qq.answers.order("RANDOM()").all.map {|a| [a.title, a.id]}, 
/         /  :first, :last, boolean_style: :inline, item_wrapper_tag: false do |b|
/         = f.collection_check_boxes :answer_question_ids, qq.answers.order("RANDOM()").all.map do |a|
/           = b.text
/           = b.label(class: 'btn btn-secondary', style: 'margin-right: 10px; margin-left: 10px;')
/           - binding.pry
/           = b.radio_button(id: b.object.last, class: 'answer-input')
/     br
/     = f.button :submit, class: 'btn btn-outline-success'

/ ol
/   = simple_form_for @quiz, url :quizzes_answer_question_path, remote: true do |f|
/     - @quiz_question.each do |qq|
/       li = qq.title
/       ul 
/         = f.input :answer, as: :radio_buttons, collection: qq.answers.order("RANDOM()").all.map {|a| [a.title, a.id]}
/     
/     = f.button :submit, class: 'btn btn-outline-success'
/ 
/ ol
/   = form_for @quiz, url: quizzes_answer_question_path do |f|
/     - @quiz.questions.each do |question|
/       li.question
/         = question.title
/         ul
/           = f.fields_for :answer_question do |aq|
/             = aq.hidden_field :question, value: question.id
/             = aq.hidden_field :user, value: current_user.id
/             - question.answers.each do |answer|
/               = aq.radio_button "answer#{answer.id}", answer.id, value: answer.correct
/               = aq.label "answer#{answer.id}", answer.title
/     = f.submit "Answer"

  
/ ol
/   = simple_form_for @quiz, url: quizzes_answer_question_path, remote: true do |f|
/     - @quiz_question.each do |question|
/       li= question.title
/       ul
/         = f.simple_fields_for :answered_questions do |aq|
/           = aq.hidden_field :question, value: question.id
/           = aq.hidden_field :user, value: current_user.id
/ 
/         = f.collection_radio_buttons "options_#{question.id}", question.answers.order("RANDOM()").all.map {|a| [a.title, a.id]}, 
/           :first, :last, boolean_style: :inline, item_wrapper_tag: false do |b|
/             
/           = b.text
/           = b.label(class: 'btn btn-secondary', style: 'margin-right: 10px; margin-left: 10px;')
/           - binding.pry
/           = b.radio_button(id: b.object.last, class: 'answer-input')
/     br
/     = f.button :submit, class: 'btn btn-outline-success'

p 
  strong = @quiz.title

ol
  = simple_form_for @quiz, url: quizzes_pay_path do |f|
    - @quiz_question.each do |qq|
      li
        = qq.title
      ul
        = f.simple_fields_for :answered_questions do |aq|
          = aq.hidden_field :question_id, value: qq.id
          br
          = aq.hidden_field :user_id, value: current_user.id
          br
          = f.collection_check_boxes :answer_question_ids, qq.answers.order("RANDOM()").all.map {|a| [a.id, a.title]}, 
            :first, :last, boolean_style: :inline, item_wrapper_tag: false do |b|
          
            = b.label(class: 'btn btn-secondary', style: 'margin-right: 10px; margin-left: 10px;') {b.check_box(id: b.object.last, class: 'answer-input') + b.text }
    br
    = f.button :submit, class: 'btn btn-outline-success'
