header
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand
          = link_to "RubyQuiz", root_path
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li= link_to 'ROOT', root_path
        ul.nav.navbar-nav.navbar-right
          li= link_to 'OppS', '#'
          
          li.dropdown
            - if user_signed_in?
              a#drop.dropdown-toggle href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'
                span.glyphicon.glyphicon-user
                  = " " + current_user.email + ' '
                  span.caret
              ul.dropdown-menu role='menu' aria-labelledby='drop'
                li= link_to 'Log Out', destroy_user_session_path, :method=>'delete'
                li= link_to 'Edit', edit_user_registration_path
            - else
              li = link_to 'Sign in', new_user_session_path
              li = link_to 'Sign up', new_user_registration_path
